body {
  font-family: "Outfit", sans-serif;
  padding: 0;
  margin: 0;
}

.logo {
  width: 300px;
  height: auto;
}

.header-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  padding: 5px 25px;
  color: black;
  text-decoration: none;
  border-radius: 15px;

}

.index {
  background-color: #c89441;
}

.navbar a:hover {
  color: black;
  background-color: #c89441;

}

.main-photo {
  width: 500px;
  height: auto;

}

.header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-side{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.right-side h1 {
  color: #c89441;

}

.right-side h2 {
  color: #5E6D3B;

}

.right-side p {
  margin: 10px 20px;

}

.button {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.button a {
  border-radius: 50px;
  padding: 12px 25px;
  background-color: #c89441;
  text-decoration: none;
  color: black;

}

.button a:hover {
  background-color: #5E6D3B;
  color: white;
}

.landing-page {
  display: flex;
  justify-content: space-between;

  background-color: #c89441;
  border-radius: 10px;
  width: auto;
  height: 500px;
  border-radius: 5px;
}

.page-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  height: 400px;
  width: auto;

}

iframe:hover {
  transform: scale(1.03);
}

.button-story {
  background-color: white;
  border-radius: 30px;
  padding: 20px 30px;
  text-decoration: none;
  color: #5E6D3B;
}

.button-story:hover {
  transform: scale(1.05);

}

.page-right img {
  width: 500px;
  height: auto;
}

.best-pruduit {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.image1-desc {
  width: 300px;
  background-color: #c89441;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.image1-desc img {
  width: 200px;
  height: 350px;
  border-radius: 15px;


}

.pruduit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pruduit h1 {
  color: #c89441;
}

.image1-desc a {

  border-radius: 25px;
  text-decoration: none;
  background-color: #5E6D3B;
  border-radius: 50px;
  padding: 12px 25px;
  color: white;


}

.image1-desc a:hover {
  transform: scale(1.3);
  background-color: white;
  color: black;

}

.image1-desc h2 {
  color: #5E6D3B;


}

.page-right img:hover {
  transform: scale(1.03);


}

.footer-part {
  display: flex;
  background-color: #c89441;
  height: 150px;
  width: auto;
  align-items: center;
  justify-content: start;
  justify-content: space-evenly;
}

.navbar-Foter {
  margin: 20px;
  display: flex;
  ;
  gap: 30px;
}

.navbar-Foter a {
  text-decoration: none;
  color: #5E6D3B;
  font-weight: bold;

}

.fa {
  text-decoration: none;
  gap: 5px;
  width: 100px;
  color: #5E6D3B;
  font-weight: bold;

}

.buttonTo-pruduit a {
  text-decoration: none;
  border-radius: 15px;
  background-color: hsl(78, 30%, 33%);
  padding: 15px 25px;
  color: black;
}

.buttonTo-pruduit a:hover {
  background-color: #c89441;
  color: white;

}

@media (max-width: 768px) {
  .logo {
    max-width: 100%;
    height: auto;
  }

  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar a {
    font-size: 9px;
  }

  .header-page {
    display: flex;
    flex-direction: column;
  }

  .right-side h2 {
    font-size: 12px;

  }

  .right-side h1 {
    font-size: 19px;

  }

  .right-side p {
    font-size: 10px;

  }

  .button {
    padding: 5px 18px;
    font-size: 10px;

  }

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    font-size: 10px;
  }

  h1 {
    font-size: 19px;
    

  }

  .landing-page {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
  }

  .button-story {
    padding: 5px 18px;
    font-size: 10px;

  }

  .page-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .maps {
    max-width: 100%;
    height: auto;
  }

  a {
    padding: 5px 18px;
    font-size: 10px;

  }
  .best-pruduit{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
   .footer-part a{
     padding: 5px 15px;
    font-size: 10px;
   gap: 3px;

  }
  .footer-part{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

  }


}